:root {
	/* цветовая палитра */
	--brand-900: #bf7506;
	--brand-500: #dd9c3c;
	--neutral-900: #211b12;
	/* масштаб (для rem'ов) */
	font-size: 16px;
}

input, select {
	outline: none;
}

body {
	font-family: "Inter", sans-serif;
	color: var(--neutral-900);
}

.container {
	max-width: 54.375rem;
	width: 100%;
	margin: auto;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 2.5rem;
}
.site-menu__list {
	padding: 0;
}
.site-menu__item {
	display: inline-block;
	list-style: none;
	margin-left: 1.5rem;
}
.site-menu__link {
	text-decoration: none;
	color: var(--brand-900);
	font-weight: 400;
	line-height: 1.5;
}
.site-menu__link_active {
	font-weight: 700;
}
.site-menu__lang-menu {
	display: inline-block;
}
.lang-menu {
	font-family: 'Inter', sans-serif;
}

.hello {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 4.5rem;
}
.hello__ava {
	display: inline-block;
	width: 13.25rem;
}
.hello__text-box {
	margin-left: 1.6875rem;
	display: inline-block;
}
.hello__big {
	font-weight: bold;
	font-size: 3rem;
	line-height: 1.25;
}
.hello__sub-h {
	margin-top: 0.5rem;
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 1.35;
	letter-spacing: -0.02em;
}
.hello__sub-h-highlight {
	color: var(--brand-900);
}
.hello__bragging {
	margin-top: 1.5rem;
}

.bragging {
	display: flex;
	align-items: center;
}
.bragging-links {
	list-style: none;
	padding: 0;
}
.bragging-links__item {
	display: inline-block;
	margin-right: 0.5rem;
}
.bragging-links__item:last-child {
	margin-right: 0;
}
.bragging-links__link {
	display: inline-block;
}
.bragging__cv {
	display: inline-block;
	margin-left: 3.4375rem;
	padding: 0.4375rem 0.5rem 0.4375rem 2.25rem;
	text-decoration: none;
	color: var(--neutral-900);
	font-weight: bold;
	line-height: 1.5;
	font-size: 1rem;
	border-bottom: 0.125rem solid var(--brand-900);
	background: url('../images/icons/attach.svg') no-repeat 0.5rem 0.4375rem / 1.5rem 1.5rem;
}

.portfolio {
	margin-top: 5.125rem;
}
.portfolio__big {
	font-style: normal;
	font-weight: bold;
	font-size: 3rem;
	line-height: 1.25;
	letter-spacing: -0.03em;
	color: var(--brand-900);
}
.portfolio__cards {
	margin-top: 2rem;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.portfolio__card {
	flex: 0 0 25rem;
}
.work-card {
}
.work-card__img {
	display: block;
	width: 100%;
	border-radius: 0.25rem;
}
.work-card__big {
	margin: 1rem 0 0 0;
	padding: 0 1rem;
	font-style: normal;
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 1.35;
	letter-spacing: -0.02em;
	color: var(--brand-900);
}
.work-card__techs {
	margin-top: 0.5rem;
	padding: 0 1rem;
	list-style: none;
}
.work-card__tech {
	display: inline-block;
	margin-right: 0.25rem;
}
.dev-tech {
	padding: 0.3125rem 0.375rem 0.25rem 0.5rem;
	border: 0.0625rem solid var(--brand-500);
	border-radius: 0.25rem;
	font-style: normal;
	font-weight: normal;
	font-size: 0.75rem;
	line-height: 1.5;
}
.work-card__sub {
	margin-top: 1rem;
	padding: 0 1rem;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5;
}
.work-card__view-box {
	display: flex;
	margin-top: 1.0625rem;
	padding: 0 1rem;
}
.work-card__view {
	margin-right: 1.5625rem;
}
.work-card-view {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--neutral-900);
	padding: 0.4375rem 0.5rem;
	border-bottom: 0.125rem solid var(--brand-900);
	vertical-align: middle;
}
.work-card-view__icon {
	display: inline-block;
	margin-right: 0.25rem;
}
.work-card-view__sub {
	display: inline-block;
	font-style: normal;
	font-weight: bold;
	font-size: 1rem;
	line-height: 1.5;
}