:root {
	/* цветовая палитра */
	--brand-900: #bf7506;
	--brand-500: #dd9c3c;
	--neutral-900: #211b12;
	--neutral-500: #83807c;
	--neutral-100: #e0dedc;
	/* масштаб (для rem'ов) */
	font-size: 16px;
}

input, select, textarea {
	outline: none;
}
h1,h2,h3,h4,h5,h6 {
	padding:0;
	margin:0;
}

body {
	font-family: "Inter", sans-serif;
	color: var(--neutral-900);
	padding: 0 0.125rem;
	min-width: 200px;
}

.container {
	max-width: 54.375rem;
	width: 100%;
	margin: auto;
}
.container_discuss {
	max-width: 27.1875rem;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 2.5rem;
}
.site-menu__list {
	padding: 0;
}
.site-menu__item {
	display: inline-block;
	list-style: none;
	margin-left: 1.5rem;
}
.site-menu__link {
	text-decoration: none;
	color: var(--brand-900);
	font-weight: 400;
	line-height: 1.5;
}
.site-menu__link_active {
	font-weight: 700;
}
.site-menu__lang-menu {
	display: inline-block;
}
.lang-menu {
	font-family: 'Inter', sans-serif;
}

.hello {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 4.5rem;
}
.hello__ava {
	display: inline-block;
	width: 13.25rem;
}
.hello__text-box {
	margin-left: 1.6875rem;
	display: inline-block;
}
.hello__big {
	font-weight: bold;
	font-size: 3rem;
	line-height: 1.25;
}
.hello__sub-h {
	margin-top: 0.5rem;
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 1.35;
	letter-spacing: -0.02em;
}
.hello__sub-h-highlight {
	color: var(--brand-900);
}
.hello__bragging {
	margin-top: 1.5rem;
}

.bragging {
	display: flex;
	align-items: center;
}
.bragging-links {
	list-style: none;
	padding: 0;
}
.bragging-links__item {
	display: inline-block;
	margin-right: 0.5rem;
	width: 2.5rem;
}
.bragging-links__item:last-child {
	margin-right: 0;
}
.bragging-links__link {
	display: inline-block;
}
.bragging-links__icon {
	width: 100%;
}
.bragging__cv {
	display: inline-block;
	margin-left: 3.4375rem;
	padding: 0.4375rem 0.5rem 0.4375rem 2.25rem;
	text-decoration: none;
	color: var(--neutral-900);
	font-weight: bold;
	line-height: 1.5;
	font-size: 1rem;
	border-bottom: 0.125rem solid var(--brand-900);
	background: url('../images/icons/attach.svg') no-repeat 0.5rem 0.4375rem / 1.5rem 1.5rem;
}

.portfolio {
	margin-top: 5.125rem;
}
.portfolio__big {
	font-style: normal;
	font-weight: bold;
	font-size: 3rem;
	line-height: 1.25;
	letter-spacing: -0.03em;
	color: var(--brand-900);
}
.portfolio__cards {
	margin-top: 1rem;
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}
.portfolio__card {
	margin: 1rem 0;
	flex: 0 0 25rem;
}
.work-card {
}
.work-card__img {
	display: block;
	width: 100%;
	border-radius: 0.25rem;
}
.work-card__big {
	margin: 1rem 0 0 0;
	padding: 0 1rem;
	font-style: normal;
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 1.35;
	letter-spacing: -0.02em;
	color: var(--brand-900);
}
.work-card__techs {
	margin-top: 0.5rem;
	padding: 0 1rem;
	list-style: none;
}
.work-card__tech {
	display: inline-block;
	margin-right: 0.25rem;
}
.dev-tech {
	padding: 0.3125rem 0.375rem 0.25rem 0.5rem;
	border: 0.0625rem solid var(--brand-500);
	border-radius: 0.25rem;
	font-style: normal;
	font-weight: normal;
	font-size: 0.75rem;
	line-height: 1.5;
}
.dev-tech_large {
	font-size: 1rem;
	padding-right: 0.5rem;
}
.work-card__sub {
	margin-top: 1rem;
	padding: 0 1rem;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5;
}
.work-card__view-box {
	display: flex;
	margin-top: 1.0625rem;
	padding: 0 1rem;
}
.work-card__view {
	margin-right: 1.5625rem;
}
.link-button {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--neutral-900);
	padding: 0.4375rem 0.5rem;
	border: 0;
	border-bottom: 0.125rem solid var(--brand-900);
	vertical-align: middle;
	background: transparent;
}
.link-button__icon {
	display: inline-block;
	margin-right: 0.25rem;
}
.link-button__sub {
	display: inline-block;
	font-style: normal;
	font-weight: bold;
	font-size: 1rem;
	line-height: 1.5;
}

.developer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 7.5rem;
}
.developer__photo {
	display: inline-block;
	flex: 0 0 22.5rem;
	width: 22.5rem;
	height: 27.5rem;
	border-radius: 1.25rem;
	object-fit: cover;
}
.developer__about {
	margin-left: 3.5rem;
}
.dev-about {

}
.dev-about__hello {
	font-style: normal;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.35;
	letter-spacing: -0.02em;
}
.dev-about__who-am-i {
	margin: 0.25rem 0 1rem;
	font-style: normal;
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.25;
	letter-spacing: -0.03em;
	color: var(--brand-900);
}
.dev-about__sub {
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
}
.dev-about__code-design-learning {
	margin: 1rem 0;
	font-family: 'HelveticaNeueCyr', 'Inter', sans-serif;
	font-weight: normal;
	font-size: 1.5rem;
	line-height: 1.5;
	color: var(--brand-500);
}
.dev-about__signing {
	margin-top: 2rem;
}

.skills {
	margin-top: 2.5rem;
}
.skills__big {
	font-size: 1.5rem;
	line-height: 1.35;
	letter-spacing: -0.02em;
}
.skills__list {
	margin: 0.40625rem 0 0 0;
	list-style: none;
	padding: 0;
}
.skills__item {
	display: inline-block;
	margin: 0.40625rem 0.375rem 0 0;
}
.skills__item:last-child {
	margin-right: 0;
}
.discuss-offer {
	margin-top: 7.5rem;
	position: relative;
}
.discuss-offer__pointing-hand {
	display: block;
	position: absolute;
	right: 0;
	top: 4rem;
	width: 25%;
	z-index: -1;
}
.discuss-offer__big {
	font-size: 2rem;
	line-height: 1.25;
	letter-spacing: -0.03em;
}
.discuss-offer__form {
	margin-top: 1rem;
}
.form {
	display: flex;
	flex-direction: column;
}
.form__input-group {
	margin-bottom: 1.5rem;
}
.form-input-group {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
	position: relative;
}
.form-input-group__label {
	display: block;
	position: absolute;
	background: white;
	padding: 0 0.5rem;
	left: 1rem;
	color: var(--neutral-500);
	line-height: 1.5;
	font-size: 1rem;
}
.form-input-group__input {
	display: block;
	margin-top: 0.5625rem;
}
.form-input {
	border: 0.1875rem solid var(--neutral-100);
	border-radius: 0.25rem;
	line-height: 1;
	font-size: 1.5rem;
	padding: 1rem 1.375rem;
	box-sizing: border-box;
	color: var(--neutral-500);
	font-family: 'Inter', serif;
}
.form-input_multiline {
	resize: none;
}
.form__send-button {
	align-self: flex-end;
}
.footer {
	margin: 10.4375rem auto 1rem;
}
.footer__info {
	text-align: center;
}

@media (max-width: 64rem) {
	.container {
		max-width: 47.5rem;
	}
	.container_discuss {
		max-width: 27.1875rem;
	}
	.portfolio__card {
		flex: 0 0 21.875rem;
	}
}
@media (max-width: 55rem) {
	.discuss-offer__pointing-hand {
		display: none;
		visibility: hidden;
	}
}
@media (max-width: 50rem) {
	.hello__big {
		font-size: 2.25rem;
	}
	.hello__sub-h-highlight {
		font-size: 1.125rem;
	}
	.hello__ava {
		max-width: 9.375rem;
	}
	.bragging-links__item {
		margin-right: 0;
		width: 2rem;
	}
	.bragging__cv {
		margin-left: 1rem;
	}
	.container {
		max-width: 36rem;
	}
	.portfolio__card {
		flex: 0 0 21.875rem;
	}
	.developer {
		flex-direction: column;
	}
	.developer__photo {
		width: 100%;
		height: 21.875rem;
		margin-bottom: 1.875rem;
		object-position: 0 25%;
	}
	.developer__about {
		margin-left: 0;
	}
	.portfolio__card {
		flex-basis: 100%;
	}
}
@media (max-width: 37.5rem) {
	.container {
		max-width: 95%;
	}
	.navbar {
		flex-direction: column;
	}
	.site-menu__item:first-child {
		margin-left: 0;
	}
	.hello {
		flex-direction: column;
		margin-top: 1rem;
	}
	.hello__ava {
		max-width: 50%;
	}
	.hello__text-box {
		margin: 0;
		margin-top: 2rem;
	}
}
@media (max-width: 33.125rem) {
	.site-menu__item {
		display: block;
		width: 100%;
		margin: 0.25rem 0;
		text-align: center;
	}
}
@media (max-width: 28.75rem) {
	.bragging {
		flex-direction: column;
	}
	.bragging__cv {
		margin-left: 0;
	}
}
@media (max-width: 22.5rem) {
	:root {
		font-size: 12px;
	}
}
@media (max-width: 17.25rem) {
	:root {
		font-size: 8px;
	}
}
